@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-size: 400% 400%;
    -webkit-animation: gradientBG 10s ease infinite;
    animation: gradientBG 8s ease infinite;
}

.container {
    max-width: 1840px;
    margin: auto;
    position: relative;
    min-height: 1px;
}

.team {
    min-height: 100vh;
    padding: 60px 15px;
    /* background-color: #22252a; */
    float: left;
    width: 100%;
}

.team h1 {
    font-size: 36;
    font-family: 'open sans';
    font-weight: 700;
    color: #ffffff;
    margin: 0;
    padding-bottom: 60px;
    text-align: center;
}

.team .card {
    width: 20%;
    float: left;
    padding: 10px 10px;
}

.team .card .box {
    padding: 15px;
    background-color: #2d3035;
    background-color: #0082e6;
    border-radius: 5px;
    transition: transform 0.5s ease, box-shadow 0.8s ease;
}

.team .card .box:hover {
    transform: translateY(-15px);
    box-shadow: 0px 0px 40px black;
}

.team .card .box img {
    width: 150px;
    display: block;
    margin: 10px auto;
    border-radius: 50%;
}

.team .card .box h4 {
    font-size: 20px;
    font-family: 'open sans';
    margin: 20px 0 10px;
    color: #ffffff;
    text-align: center;
    font-weight: 700;
}

.team .card .box h5 {
    font-size: 15px;
    font-family: 'open sans';
    font-weight: 600;
    color: #b9b9b9;
    text-align: center;
    margin: 0 0 15px;
}

.team .card .box p {
    font-size: 15px;
    color: #b9b9b9;
    font-family: 'open sans';
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    padding: 0 20px;
}

@media(max-width:920px) {
    .team .card {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width:550px) {
    .team .card {
        width: 100%;
    }
}